<!DOCTYPE html>
<html lang="zh" class="js">
<head>


    <meta charset="utf-8">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>流量消耗器</title>
    <link rel="stylesheet" href="static/css/dashlite.css">
    <link rel="stylesheet" href="static/css/style4.css">
    <link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon"
          type="image/x-icon">
<!--    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"/>-->
</head>
<body class="nk-body npc-invest bg-lighter ">
<!-- wrap @s -->
<div class="nk-wrap ">
    <!-- main header @s -->
    <div class="nk-header nk-header-fluid nk-header-fixed is-light">
        <div class="container-xl">
            <div class="nk-header-wrap link-between">
                <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-menu"></em></a>
                </div>
                <div class="nk-header-brand">
                    <a href="llxhq" class="logo-link text-base"><img src="./logo.png" class="hide-mb-sm">流量消耗器</a>
                </div>
                <!-- .nk-header-brand -->
                <div class="nk-header-tools nk-header-menu" data-content="headerNav">
                    <div class="nk-header-mobile">
                        <div class="nk-header-brand">
                            <a href="" class="logo-link text-base">
                                <span class="nio-version" style="font-size: 21px;position: inherit;">流量消耗器</span>
                            </a>
                        </div>
                        <div class="nk-menu-trigger mr-n2">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                        </div>
                    </div>
                    <!-- 菜单栏开始 -->
                    <ul class="nk-menu nk-menu-main">                      
                        <li class="nk-menu-item ">
                            <a href="https://www.fjglt.cn" class="nk-menu-link nk-ibx-action-item">
                                <span class="nk-menu-text">橄榄头官网</span>
                            </a>
                        </li>
			    
			                            <li class="nk-menu-item ">
                            <a href="https://ip.cn" class="nk-menu-link nk-ibx-action-item">
                                <span class="nk-menu-text">IP归属地查询</span>
                            </a>
                        </li>
                       
                                                <li class="nk-menu-item ">
                            <a href="http://f0q.cn/1pollw" class="nk-menu-link nk-ibx-action-item">
                                <span class="nk-menu-text">福建移动活动</span>
                            </a>
                        </li>
                                               
                        <li class="nk-menu-item ">
                            <a href="http://f0q.cn/1rkqsX" class="nk-menu-link nk-ibx-action-item">
                                <span class="nk-menu-text">福建电信活动</span>
                            </a>
                        </li>			    
			    
                    </ul>
                </div>
		    
                <!-- .nk-header-menu -->
                <div class="no-gutters">
                    <ul class="nk-quick-nav">
                        <li class="dropdown">
                            <a href="javascript:;" class="progress-rating dark-switch ">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-moon"></em>
                                <em class="icon ni ni-sun d-none"></em>
                            </span>
                            </a>
                        </li>

                    </ul>
                    <!-- .nk-quick-nav -->
                    <!-- .dropdown -->
                </div>
                <!-- .nk-header-tools -->
            </div>
            <!-- .nk-header-wrap -->
        </div>
        <!-- .container-fliud -->
    </div>
    <!-- main header @e -->
    <!-- content @s -->
    <div class="nk-content nk-content-lg nk-content-fluid">

        <style>
            .stat {
                width: 100%;
                column-gap: 1rem;
                padding: 1rem 1.5rem;
            }
            .stat-title {
                white-space: nowrap;
                opacity: .6;
            }
            .stat-value {
                white-space: nowrap;
                grid-column-start: 1;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 2.5rem
            }
        </style>
        <div class="container-xl" id="app">

            <div class="col-sm-12 col-md-10 col-xl-8 center-block">
                <div class="card card-preview">
                    <div class="card-inner mt-3">
                        <div class="nya-title nk-ibx-action-item progress-rating">
                            <span class="nk-menu-text font-weight-bold">⭐永久地址</span>
                            <span class="nk-menu-text font-weight-bold">waimaime.github.io</span>
                        </div>
	<label class="form-label">下载链接</label>
        <select class="form-control" style="height: 30px ;white-space:nowrap" id="niubi" @click.passive="yuan"  class="form-control">						
	<option value="在这输入">
	【自定义】输入下载链接</option>
		
	<option value="https://wegame.gtimg.com/g.55555-r.c4663/wegame-home/sc02-03.514d7db8.png">
	【腾讯】Wegame-静态资源</option>
	<option value="https://game.gtimg.cn/images/nz/web202106/index/bc_part1.gif" selected>
	【腾讯】腾讯游戏-静态资源</option>
	<option value="https://puui.qpic.cn/vpic_cover/g3346tki83w/g3346tki83w_hz.jpg">
	【腾讯】腾讯视频-缓存</option>
	<option value="https://ossweb-img.qq.com/upload/adw/image/752/20211219/f4b5919ec683f49d8532cef90644b9ac.jpeg">
	【腾讯】腾讯QQ</option>
	<option value="https://gw.alipayobjects.com/os/volans-demo/f44c302e-b704-4a70-bcc6-0214e37ca256/MiniProgramStudio-1.17.4.exe">
	【阿里】支付宝开放平台①</option>
	<option value="https://gw.alipayobjects.com/os/rmsportal/PpisHyUkzJnZltrPyfuD.zip">
	【阿里】支付宝开放平台②</option>
	<option value="https://cloud.video.taobao.com/play/u/null/p/1/e/6/t/1/d/ud/329682839911.mp4">
	【阿里】阿里图片CDN</option>
	<option value="https://gw.alicdn.com/tfscom/TB1fASCxhjaK1RjSZKzXXXVwXXa.jpg">
	【阿里】阿里系</option>
	<option value="https://issuepcdn.baidupcs.com/issue/netdisk/yunguanjia/BaiduNetdisk_7.17.5.19.exe">
	【百度】百度网盘</option>
	<option value="https://app-center.cdn.bcebos.com/appcenter/sts/pcfile/1155177228/7beb2ee995aa8ea9b996171a56c76c5f.png">
	【百度】图片CDN</option>
	<option value="https://www.douyin.com/download/pc/obj/douyin-pc-client/7044145585217083655/releases/8522449/1.1.0/win32-ia32/douyin-v1.1.0-win32-ia32-douyin.exe">
	【字节】抖音</option>
	<option value="https://lf9-cdn-tos.bytecdntp.com/cdn/yuntu-index/1.0.4/case/maiteng/detailbg.png">
	【字节】静态资源</option>
	<option value="https://activity.hdslb.com/zzjs/20160608appDownload/img/pc/uwp.png">
	【哔哩】B站① </option>
	<option value="https://s1.hdslb.com/bfs/static/game-web/duang/home/asserts/home_bg.e09be3a.png">
	【哔哩】B站②</option>
	<option value="https://open.yun.139.com/static/img/case_bg_1.16716f8f.png">
	【移动】移动云盘① </option>
	<option value="https://open.yun.139.com/static/img/banner_bg_1.27bb1597.svg">
	【移动】移动云盘②</option>
	<option value="https://open.yun.139.com/static/img/0_0.56cf5dbb.svg">
	【移动】移动云盘③</option>
	<option value="https://img1.shop.10086.cn/goods/tcqtjwurkdsfcxgr_940x7200">
	【移动】10086</option>
	<option value="https://d.musicapp.migu.cn/upload/fbpt_rsync_apps/local/signed/MobileMusic7140/MobileMusic7140_0140068.apk">
	【移动】咪咕音乐</option>
	<option value="https://img.cmvideo.cn/publish/noms/2022/10/14/1O3VIGPVP6HTS.jpg">
	【移动】咪咕视频</option>
	<option value="https://freeserver.migufun.com/resource/beta/picture/system/20200723/20200723104326220_sdpic.png">
	【移动】咪咕快游①</option>
	<option value="https://vod-origin-rjzy.gdoss.xstore.ctyun.cn/5ca444c333bf4727babc7d154aabe559.mp4">
	【电信】天翼云</option>
	<option value="https://m1.ad.10010.com/small_video/uploadImg/1669798519261.png">
	【联通】联通官网-静态资源①</option>
	<option value="https://gec.10010.com/multi/unified-storage/video/202102/210208115fe139453000.mp4">
	【联通】联通官网-静态资源②</option>
		
	<option value="">👇国内节点👇</option>
	<option value="https://x19.gdl.netease.com/MCLauncher_publish_1.8.0.35383.exe">
	【网易】客户端</option>
	<option value="https://pic-bucket.ws.126.net/photo/0003/2022-04-24/H5N2082C00AJ0003NOS.jpg">
	【网易】126网站</option>
	<option value="https://img10.360buyimg.com/live/jfs/t1/128947/12/26918/1361527/6260e71bE0ee85af5/ecaa17ea8dd3dddb.jpg">
	【京东】图片CDN①</option>
	<option value="https://img10.360buyimg.com/live/jfs/t1/128947/12/26918/1361527/6260e71bE0ee85af5/ecaa17ea8dd3dddb.jpg">
	【京东】图片CDN②</option>
	<option value="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cn/mkt/mobileservices/appgallery/download/PC107f1b3947c942ffaa14334a879065d8.2107261020.exe">
	【华为】客户端</option>
	<option value="https://dh5.cntv.myhwcdn.cn/asp/h5e/hls/1200/0303000a/3/default/ec48b9f8c76e49af842d4942914ad663/1.ts">
	【华为】直播源</option>
	<option value="https://cnbj0.fds.api.xiaomi.com/b2c-data-mishop/9b9d95e1ece27d5ec75205e5fe719ba5.apk">
	【小米】客户端apk</option>
	<option value="https://cdn.cnbj1.fds.api.mi-img.com/miui-13/phone/index_pc_1227.mp4">
	【小米】图片CDN</option>
	<option value="https://static.smartisanos.cn/common/video/production/ocean/os-1-1710.mp4">
	【锤子】锤子OS</option>
	<option value="https://imgwsdl.vivo.com.cn/appstore/developer/soft/20210125/202101251051528awqa.apk">
	【VIVO】应用商城</option>
	<option value="https://wwwstatic.vivo.com.cn/vivoportal/files/resource/funtouch/1651200648928/images/os2-jude-video.mp4">
	【VIVO】应用商城-静态资源</option>
	<option value="https://dsfs.oppo.com/oppo/shop-pc-v2/main/js/9fb472f.js">
	【OPPO】应用商城-静态资源</option>	
	<option value="https://sta-op.douyucdn.cn/vod-index/2022/06/22/848adf3ae99d2be506026380c2ad42c1.png">
	【斗鱼】图片CDN</option>
	<option value="https://cdn.aixifan.com/downloads/AcFun-acfunh5-release-6.62.0.1238_x64_60b608.apk">
	【AcFun】图片CDN</option>
	<option value="https://dh5.cntv.myhwcdn.cn/asp/h5e/hls/1200/0303000a/3/default/ec48b9f8c76e49af842d4942914ad663/1.ts">
	【CCTV】CNTV</option>
	<option value="https://dl.pddpic.com/android_dev/2021-02-08/4ff25ce6148aa99aeeba723b5891ae72.apk">
	【拼多多】客户端apk</option>
	<option value="https://kodo-toolbox.qiniu.com/kodo-browser-Linux-x64-v1.0.17.zip">
	【七牛云】客户端linux</option>
	<option value="https://gh.con.sh/https://github.com/AaronFeng753/Waifu2x-Extension-GUI/releases/download/v2.21.12/Waifu2x-Extension-GUI-v2.21.12-Portable.7z">
	【GitHub】文件加速</option>
		
	<option value="">👇海外节点👇</option>
	<option value="https://cachefly.cachefly.net/200mb.test">
	【国外】cachefly 200MB</option>
	<option value="https://speedtest.tokyo2.linode.com/100MB-tokyo2.bin">
	【国外】Linode 100MB(日本)</option>
	<option value="https://sgp-ping.vultr.com/vultr.com.1000MB.bint">
	【国外】Vultr 1G(新加坡)</option>
	<option value="https://nj-us-ping.vultr.com/vultr.com.1000MB.bin">
	【国外】Vultr 1G(纽约)
	</option>
	<option value="https://emp.bbci.co.uk/emp/dashjs/3.2.0-8/dash.all.min.js">
	【国外】BBC中文网</option>			
		
                        </select></p>
                        <div class="form-group">
                    
                            <div class="form-control-wrap">
                                <input type="text" v-model="set.input" placeholder="下载链接" class="form-control"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">线程</label>
                            <div class="form-control-wrap number-spinner-wrap">
                                <button class="btn btn-icon btn-outline-primary number-spinner-btn number-minus"
                                        @click="if(set.thread>1)set.thread--"><em class="icon ni ni-minus"></em>
                                </button>
                                <input type="number" class="form-control number-spinner" min="1" max="32"
                                       v-model="set.thread">
                                <button class="btn btn-icon btn-outline-primary number-spinner-btn number-plus"><em
                                        class="icon ni ni-plus" @click="if(set.thread<32)set.thread++"></em></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="preview-block">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" v-model="set.infinite"
                                           id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2">无限循环</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-dim btn-outline-secondary btn-block card-link" @click="run">
                            {{set.status ? '停止' : '开始'}}
                        </button>
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-4 border stat">
                                <div class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                         stroke="currentColor" class="h-15 w-15 float-right pt-3">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"></path>
                                    </svg>
                                </div>
                                <div class="stat-title">已消失的流量</div>
                                <div class="stat-value">{{changeFilesize(waste)}}</div>
                            </div>
                            <div class="col-sm-12 col-md-4 border stat">
                                <div class="text-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                         stroke="currentColor" class="h-15 w-15 float-right pt-3">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                                    </svg>
                                </div>
                                <div class="stat-title">每秒实时流量</div>
                                <div class="stat-value text-info">{{speed}}</div>
                            </div>
                            <div class="col-sm-12 col-md-4 border stat">
                                <div class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                         stroke="currentColor" class="h-15 w-15 float-right pt-3">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                    </svg>
                                </div>
                                <div class="stat-title">运行时长</div>
                                <div class="stat-value">{{secToTime(spend)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card card-preview">
                    <div class="card-inner">
                    <h6><em class="icon ni ni-info"></em> 工具说明</h6>
                    <div class="accordion-inner">
                    <p>此工具可以以浪费的形式消耗你的流量</p>
                    <p>注意:无法请求跨域链接,最好通过浏览器运行使用</p>
                    <p class="mdc-typography--body1">PS:如需消耗手机套餐内的定向流量，建议使用对应定向包的测速节点即可，如头条系定向包，选字节跳动测速节点，阿里系定向包，就选阿里消耗节点，其他定向包同理(非百分百准确)。</p>
	            <p></p>    
	    
		    <!-- 插入天气图片开始 -->  			    
		    <p>您的访问信息如下：</p>
		    <li class="nk-menu-item ">
		    <p class="text-danger"><script>ipinfo()</script></p> 
		    <p>
		    </li>
		    <a href="https://ip.cn/" target="_blank"><img src="https://ip.vv1234.cn/ipx/" onError="this.src='https://tool.lu/netcard/'"></a> 
		    </p>
		    <!-- 插入天气图片结束 -->
		    <a href="/" class="nk-menu-link nk-ibx-action-item">→ 点我切换回旧版 ←</a>
		    <hr></hr>
	            <p>最近更新:
	            <a href="/" target="_blank" rel="noopener" data-pjax-state="">20221221</a>
	            </p>
	            <p>节点优化:新增拼多多,锤子,中国联通,中国移动云盘,咪咕视频等资源</p>
		    <hr></hr>
	            </div>
	            </div>
	            </div>
            </div>
        </div>
    </div>
    <!-- content @d -->
    <div class="nk-footer nk-footer-fluid bg-lighter">
    <div class="container-xl">
    <div class="nk-footer-wrap">
    <div class="nk-footer-copyright"> &copy; 2023 <a href='/'></a>
    </div>
    </div>
    </div>
    </div>
    <!-- footer @e -->
</div>

<!-- wrap @e -->

<script src="static/js/jquery.min1.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/nioapp.min.js"></script>
<script src="static/js/script.js"></script>
<script src="static/js/common.js"></script>
<script src="static/js/fuqiang.js"></script>

<script>
    var plugin_id = 5;
    var plugin_is_star = 0;
    $("#star-btn-text").text(plugin_is_star ? '取消收藏' : '添加收藏');
    $(document).ready(function () {
        $('.dark-switch').on("click", function (e) {
            if ($("body.dark-mode").length <= 0) {
                document.cookie = 'darkmode=1';
            } else {
                document.cookie = 'darkmode=0';
            }
        });
    })
</script>
<script src="static/js/vue.min.js"></script>
<script src="static/js/axios.min.js"></script>

<script>
    var errors = null
    new Vue({
        el: '#app',
        data: {
            set: {
                input: '',
                output: '',
                infinite: true,
                status: false,
                thread: 10,
            },
            tasks: [],
            speed: '0.00B/s',
            spend: 0,
            url: '',
            waste: 0,
            timer: null,
            cancelSource: axios.CancelToken.source()
        },
        watch: {
            async 'set.status'(newVal) {
                if (newVal) {
                    this.cancelSource = axios.CancelToken.source()
                    this.timer = setInterval(() => {
                        this.speed = this.changeDownloadSpeed(this.tasks.reduce(function (prev, curr) {
                            return prev + curr;
                        }, 0));
                        this.spend++
                    }, 1000)
                    do {
                        await new Promise(resolve => {
                            let task = []
                            for (let i = 0; i < this.set.thread; i++) {
                                task.push(this.download(Math.random().toString(36).substr(2, 10)))
                            }
                            Promise.all(task).finally(resolve)
                        })
                    } while (this.set.status && this.set.infinite)
                } else {
                    clearInterval(this.timer)
                    this.cancelSource.cancel()
                }
            }
        },
        methods: {
            selectedYuan() {
                var selected = $(".form-control").find("option:selected").val();
                var selecte = $(".form-control").find("option:selected");
                $(".titlesss").html('消耗源：' + $(".form-control").find("option:selected").text() + '！速度和流量使用查看手机统计!');
                console.log(selected.toString().length)
                if (selected.toString().length > 4 && selected.toString().length != 5) {
                    this.set.input = selected;
                }

                if (selected.toString().length < 4) {
                    alert("此源不可用请重新选择");
                    this.set.status = false
                }


                var URLPATTERN = "^([hH][tT]{2}[pP][sS]://|[hH][tT]{2}[pP][sS]://)(([A-Za-z0-9-~]+).)+([A-Za-z0-9-~\\/])+$";
                var value = this.set.input;
                if (value.search(URLPATTERN) != 0) {
                    alert("源错误,请检查源地址是否为https请求,或者是否正确");
                    this.set.status = false
                }

            },
            run() {
                this.set.status = !this.set.status
                this.selectedYuan();
            },
            download(id) {

                let loaded = 0
                let speed = 0
                let timestamp = new Date().getTime()
                let that = this
                const index = this.tasks.push(speed) - 1
                return axios.request({
                    url: this.set.input,
                    params: {
                        [id]: id,
                    },
                    cancelToken: this.cancelSource.token,
                    onDownloadProgress: function (progressEvent) {
                        // 处理原生进度事件
                        const now = new Date().getTime();
                        speed = (progressEvent.loaded - loaded) / (now - timestamp) * 1000
                        that.tasks[index] = speed
                        that.waste += progressEvent.loaded - loaded
                        loaded = progressEvent.loaded
                        timestamp = now
                    },
                }).catch(e => {
                    if (!axios.isCancel(e)) {
                        layer.msg(e.message, {icon: 2})
                        this.set.status = false
                    }
                }).finally(() => {
                    delete that.tasks[index]
                })
            },
            secToTime(s) {
                let t = '';
                if (s > -1) {
                    let hour = Math.floor(s / 3600)
                    let min = Math.floor(s / 60) % 60
                    let sec = s % 60
                    if (hour > 0) {
                        if (hour < 10) {
                            t += '0'
                        }
                        t = hour + "h"
                    }
                    if (hour > 0 || min > 0) {
                        if (min < 10) {
                            t += '0'
                        }
                        t += min + "m"
                    }
                    if (sec < 10) {
                        t += '0'
                    }
                    t += sec + 's'
                }
                return t
            },
            changeFilesize: (filesize) => {
                filesize = parseInt(filesize);
                let size = "";
                if (filesize === 0) {
                    size = "0.00 B"
                } else if (filesize < 1024) { //小于1KB，则转化成B
                    size = filesize.toFixed(2) + " B"
                } else if (filesize < 1024 * 1024) { //小于1MB，则转化成KB
                    size = (filesize / 1024).toFixed(2) + " KB"
                } else if (filesize < 1024 * 1024 * 1024) { //小于1GB，则转化成MB
                    size = (filesize / (1024 * 1024)).toFixed(2) + " MB"
                } else { //其他转化成GB
                    size = (filesize / (1024 * 1024 * 1024)).toFixed(2) + " GB"
                }
                return size;
            },
            changeDownloadSpeed(filesize) {
                filesize = this.changeFilesize(filesize);
                return filesize.replace(/\s([K|M|G|B]*)B{0,1}/, '$1/s')
            },
            yuan() {
                var selected = $(".form-control").find("option:selected").val();
                this.set.input = selected;
            }
        },
    })
</script>

<!-- F12禁用开始 --> 
<script>document.onkeydown = function(){
  if(window.event && window.event.keyCode == 123) {
    alert("F12被禁用");
    event.keyCode=0;
    event.returnValue=false;
  }
  if(window.event && window.event.keyCode == 13) {
    window.event.keyCode = 505;
  }
  if(window.event && window.event.keyCode == 8) {
    alert(str+"\n请使用Del键进行字符的删除操作！");
    window.event.returnValue=false;
  }
}
</script>  
<script>document.oncontextmenu = function (event){
if(window.event){
event = window.event;
}try{
var the = event.srcElement;
if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")){
return false;
}
return true;
}catch (e){
return false;
}
}
</script>  
<!-- F12禁用结束 -->  

<script id="LA-DATA-WIDGET" crossorigin="anonymous" charset="UTF-8" src="https://v6-widget.51.la/v6/JkDmQhGmIj06sn4j/quote.js?theme=#1690FF,#333333,#999999,#333333,#FFFFFF,#1690FF,10&f=12&display=0,1,1,1,1,1,1,1"></script>

</body>

</html>
